 <h3>Dashboard</h3>
 <hr>

<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>IP</th>
        <th>Hora</th>        
        <th>User Agent</th>
        <th>Qtd. Requests</th>        
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let record of records">
        <td>{{record.ip}}</td>
        <td>{{record.hour}}</td>
        <td>{{record.userAgent}}</td>
        <td>{{record.total}}</td>
      </tr>
    </tbody>
  </table>
 </div>
  
 <br/> 
  
 <div class="row" *ngIf="totalPages > 0">
  <div class="col-sm-1"><button class="page-link btn-block" (click)="previousPage()"> Anterior </button></div>
  <div class="col-sm-1" style="text-align: center;"><span>1 de {{totalPages}}</span></div>
  <div class="col-sm-1"><button class="page-link btn-block" (click)="nextPage()"> Proximo </button></div>
</div>

<br/>
  

