 <h3>Busca Log</h3>
 <hr>

 <form >
 <div class="row">
  <div class="col-sm-3">
		<div class="form-group">
		  <label for="txtIp">IP:</label>
		  <input type="text" class="form-control" id="ip" name="ip" [(ngModel)]="ip" maxlength="23">
      	  <div class="invalid-feedback">Favor informar esse campo.</div>		  
		</div>
  </div>
  <div class="col-sm-2"> 
		<div class="form-group">
		  <label for="startDate">Data Hora Inicial:</label>
		  <input type="text" placeholder="dd/mm/aaaa HH:mm:ss" class="form-control" id="startDate" name="startDate" [(ngModel)]="startDate"
		  	 maxlength="19">
		  <div class="invalid-feedback">Data invalida.</div>
		</div>
  </div>
  <div class="col-sm-2">
		<div class="form-group">
		  <label for="endDate">Data Hora Final:</label>
		  <input type="text" placeholder="dd/mm/aaaa HH:mm:ss" class="form-control"
		   id="endDate" id="endDate" name="endDate" [(ngModel)]="endDate" maxlength="19">
		  <div class="invalid-feedback">Data invalida.</div>		  
		</div>
  </div>
</div>
</form>

 <div class="row">
  <div class="col-sm-1">
  	<button type="button" class="btn btn-primary" (click)="search()">Buscar</button>
  </div>
</div>


<br/>
<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Data</th>
        <th>IP</th>
        <th>Request</th>
        <th>Status</th>
        <th>User Agent</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let record of records">
        <td>{{record.date | date:'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>{{record.ip}}</td>
        <td>{{record.request}}</td>
        <td>{{record.status}}</td>
        <td>{{record.userAgent}}</td>
      </tr>
    </tbody>
  </table>
 </div>
 
 <br/>
  
 <div class="row" *ngIf="totalPages > 0">
  <div class="col-sm-1"><button class="page-link btn-block" (click)="previousPage()"> Anterior </button></div>
  <div class="col-sm-1" style="text-align: center;"><span>1 de {{totalPages}}</span></div>
  <div class="col-sm-1"><button class="page-link btn-block" (click)="nextPage()"> Proximo </button></div>
</div>

  
<br/>
