 <h3>Busca Log</h3>
 <hr>

 <div class="row">
  <div class="col-sm-3">
		<div class="form-group">
		  <label for="usr">IP:</label>
		  <input type="text" class="form-control" id="usr">
		</div>
  </div>
  <div class="col-sm-2">
		<div class="form-group">
		  <label for="usr">Data Hora Inicial:</label>
		  <input type="text" placeholder="dd/mm/aaaa HH:mm:ss" class="form-control" id="usr">
		</div>
  </div>
  <div class="col-sm-2">
		<div class="form-group">
		  <label for="usr">Data Hora Final:</label>
		  <input type="text" placeholder="dd/mm/aaaa HH:mm:ss" class="form-control" id="usr">
		</div>
  </div>
</div>

 <div class="row">
  <div class="col-sm-1">
  	<button type="button" class="btn btn-primary">Buscar</button>
  </div>
</div>


<br/>
<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Data</th>
        <th>IP</th>
        <th>Request</th>
        <th>Status</th>
        <th>User Agent</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>01/01/2001 08:00:00</td>
        <td>127.0.0.1</td>
        <td>GET /path/dassad/sadsadsa/sadsadsad/sadsadsa/sad</td>
        <td>200</td>
        <td>mozilla gasdusa sadghsajdhgsa sahdsajd sadhsa djsahdd</td>
      </tr>
    </tbody>
  </table>
 </div>
 
 <br/>
  
 <div class="row">
  <div class="col-sm-1"><button class="page-link btn-block"> Anterior </button></div>
  <div class="col-sm-1" style="text-align: center;"><span>1 de 10</span></div>
  <div class="col-sm-1"><button class="page-link btn-block"> Proximo </button></div>
</div>
  
<br/>
